{
  "env": {
    "commonjs": {
      "presets": [
        ["@babel/preset-env", { "targets": "> 0.25%, not dead" }],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          { "modules": false, "targets": "> 0.25%, not dead" },
          "@babel/preset-react"
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "with_react_hot_loader": {
      "presets": [
        ["@babel/preset-env", { "targets": "> 0.25%, not dead" }],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "react-hot-loader/babel"
      ]
    }
  },
  "comments": true
}
