{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-underscore-dangle": 0,
    "object-curly-newline": ["error", { "consistent": true }],
    "prefer-template": 0
  }
}
