{
  "plugins": ["babel", "react", "prettier"],
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/no-multi-comp": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-underscore-dangle": 0,
    "prefer-template": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["demo/**"]
      }
    ]
  }
}
