{
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "avoid"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "avoid"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
